[submodule "vim-pathogen"]
	path = vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "vim/.vim/pack/plugin/start/papercolor-theme"]
	path = vim/.vim/pack/plugin/start/papercolor-theme
	url = https://github.com/NLKNguyen/papercolor-theme
[submodule "vim/.vim/pack/plugin/start/vim-monochrome"]
	path = vim/.vim/pack/plugin/start/vim-monochrome
	url = https://github.com/fxn/vim-monochrome
[submodule "vim/.vim/pack/plugins/start/vimsence"]
	path = vim/.vim/pack/plugins/start/vimsence
	url = https://github.com/vimsence/vimsence.git
